.home-collection-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 50px 0;
    gap: 40px;
    
}
.home-collection-section h2{
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title);
    color: var(--color-secondary-black);
}

.home-collection-container-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}

