header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    background-color: #fff;
    padding: 35px 20px;
    background-color: #000;

    position: sticky;
    z-index:1;

}

.nav-header ul {
    display: flex;
    list-style: none;
    gap:40px;
    
}

.nav-header ul li a{
    text-decoration: none;
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    color: var(--color-secondary-white)

}

.nav-icons {
    display: flex;
    gap:20px;
}
