.section-collection-female{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 15px;
}

.section-collection-female h2{
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title);

}
.card-grid-section-colletion-female{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 100px;
    row-gap: 50px;
}

.card-wrapper-section-collection-female{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-section-colletion-female{
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card-img-section-colletion-female {
    width: 350px;
    height: 550px;
}

.card-description-section-colletion-female {
    font-family: var(--font-body);
    font-size: var(--font-button-size);
    font-weight: var(--fw-regular);
    color: var(--color-secondary-black);
}

.card-price-section-colletion-female {
    font-family: var(--font-body);
    font-size: var(--font-button-size);
    font-weight: var(--fw-light);
    color: var(--color-secondary-black)
}