.about-section {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0 0 0;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content h2 {
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title);

}

.about-content p {
    width: 279px;
    text-align: center;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--fw-regular);
}