.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 125px;
}

.container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    width: 1000px;
    height: 750px;
    
}

.container-modal img{
    width: 50%;
    height: 100%;        
    object-fit: cover;
    object-position: center;
    border-radius: 25px 0px 0px 25px;
}

.container-content-modal{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: 50%;
    gap: 15px;    
    padding: 0 50px; 
}

.container-item{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.title-content-modal{
    font-family: var(--font-body);
    font-weight: var(--fw-light);
    font-size: var(--font-body-size);
}

.description-content-modal{   
    font-family: var(--font-body);
    font-weight: var(--fw-extralight);
    font-size: var(--font-body-size);
}


.btn-template{
    display: flex;
    flex-direction: column;
    padding: 10px ;
    text-align: center;
}

