.modal-alterar-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    width: 1000px;
    gap: 20px;
    padding: 50px;
}

.modal-alterar-bg h3 {
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
    text-align: center;
}

.div-alterar-modal-pageAdmin {
    display: flex;
    gap: 10px;
}

.form-alterar {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.div-alterar-modal-pageAdmin {
    display: flex;
    align-items: center;
}

.form-alterar label {
    font-size: var(--font-body-size);
    font-family: var(--font-body);
}

.form-alterar input[type="text"] {
    border: 1px solid var(--color-secondary-grey);
    padding: 8px;
    border-radius: 4px;
}

.form-alterar .description-input {
    height: 100px;
    border: 1px solid var(--color-secondary-grey);
}

.modal-action-modal-cadastrar {
    text-align: center;
}

.modal-action-modal-alterar {
    display: flex;
    gap: 10px
}

.btn-delete {

    padding: 10px 24px;
    border: 1px solid var(--color-secondary-black);
    border-radius: 30px;
    font-family: var(--font-body);
    background-color: transparent;
    font-weight: var(--fw-light);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secondary-black);
    transition: all 1s ease;
    text-decoration: none;
}

.btn-alterar {
    padding: 10px 24px;
    border: 1px solid var(--color-secondary-black);
    border-radius: 30px;
    font-family: var(--font-body);
    background-color: transparent;
    font-weight: var(--fw-light);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secondary-black);
    transition: all 1s ease;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: var(--color-secondary-red);
    color: var(--color-secondary-white);
}

.btn-alterar:hover {
    background-color: var(--color-primary-olive);
    color: var(--color-secondary-white);
}