/* body{
    
    background: url(../../assets/img/background/bsckground-img-oculos.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.content-main{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
    padding: 30px 0px;
    min-height: 100vh; 
}

.content-main h1{
    width: 372px;
    color: var(--color-secondary-white);
    font-family: var(--font-title);
    font-size: var(--font-headline-h1-size);
    line-height: 65px;
    font-weight: var(--fw-bold);
    text-align: right;
    margin-right: 100px;  
}

.content-main p{
    width: 372px;
    color: var(--color-secondary-white);
    font-family: var(--font-body);
    text-align: right;
    margin-right: 100px;
}