main{   
    background-image: url(../../assets/img/pageHome/sectionMain/background-img-oculos.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;           
    justify-content: flex-end;
    padding-top: 150px; 

}

.content-main{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
    padding-top: 100px;
    padding-right: 130px;
    width: 372px;
    height: 264px;
}

.content-main h1{
    width: 372px;
    color: var(--color-secondary-white);
    font-family: var(--font-title);
    font-size: var(--font-headline-h1-size);
    line-height: 65px;
    font-weight: var(--fw-bold);
    text-align: right;
     
}

.content-main p{
    width: 372px;
    color: var(--color-secondary-white);
    font-family: var(--font-body);
    text-align: right;
}