.card-grid {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 10px 15px 24px;
    padding: 0 0 20px 0;
    border-radius: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-grid:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 12px 28px;

}
.card-grid img {
    width: 100%;
    height: 490px;    
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.card-grid-description {
    font-family: var(--font-body);
    font-size: var(--font-button-size);
    font-weight: var(--fw-regular);
    color: var(--color-secondary-black);

}

.card-grid-price {
    font-family: var(--font-body);
    font-size: var(--font-button-size);
    font-weight: var(--fw-light);
    color: var(--color-secondary-black);

}

