header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    padding: 35px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header ul li a {
    text-decoration: none;
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    color: var(--color-secondary-white)
}

.nav-icon {
    display: flex;
    gap: 20px;
}