.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    padding: 35px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: transparent;
    transition: background 0.5s ease, color 0.5s ease;
    z-index: 9999;
}

.BNG-logo-header {
    display: flex;
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title);
    color: var(--color-secondary-white);
    letter-spacing: 12px;

}

.BNG-logo-header a {
    text-decoration: none;
    color: inherit; 
}

.BNG-logo-header a:hover,
.BNG-logo-header a:focus,
.BNG-logo-header a:visited {
    text-decoration: none;
}

.nav-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.nav-header ul li a {
    text-decoration: none;
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    color: var(--color-secondary-white);
    transition: 1s ease;
    border-bottom: 2px solid transparent;
}

.nav-header ul li a:hover {
  border-bottom: 2px solid var(--color-secondary-white);
}

.nav-icon {
    display: flex;
    gap: 20px;
}

header.scrolled {
    background-color: var(--color-secondary-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

header.scrolled a,
header.scrolled p,
header.scrolled .nav-header-item a {
    color: var(--color-secondary-black);
}

header.scrolled .nav-header a:hover{
    border-bottom: 2px solid var(--color-secondary-black);
}